#bg1 {
    background-image: url(glenn-carstens-peters-203007-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 1142px;
    height: 900px;
    padding: 20%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head1 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 100px;
    font-family: 'Sanchez', serif;
}

.fade{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}
/*test*/
.fade_dropdown {
    animation: fadeIn 5s;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#Sidenav2:hover .dropdown-content {
    display: block;
}

#Sidenav2 a {
    position: fixed;
    left: -330px;
    transition: 0.3s;
    padding: 15px;
    width: 380px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
}

/*---------------------------------------------*/
#Sidenav a {
    position: fixed;    
    left: -330px;
    transition: 0.3s;
    padding: 15px;
    width: 380px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
}

#Sidenav a:hover {
    left: 0;
}

#it_kmitl {
    top: 20px;
    background-color: #4CAF50;
}

#content_table {
    top: 110px;
    background-color: aqua;
}

#about_course {
    display: block;
    padding: 100px;
    padding-left: 400px;
    padding-right: 400px;
    align-items: center;
	justify-content: center;
}
#career_ex {
    display: block;
    padding: 100px;
}
#branch_subjects {
    display: block;
    padding: 100px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#end_line {
    background: black;
    padding: 100px;
    color: white;
    text-align: center;
}

#branch_subjects_table {
    padding: 100px;
}

#branch_eligible {
    text-align: center;
    padding: 100px;
}

#branch_interested {
    text-align: center;
    padding: 100px;
}

#different_branch {
    text-align: center;
    padding: 100px;
}

/*fortext fx*/
.transition {
	position: relative;
	overflow: hidden;
	/*display: inline-block;*/
	opacity:0;
	animation: reveal .8s ease forwards;
}

.transition::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background: #000;
	height: 100%;
	animation: revealLayer .8s ease forwards;
	z-index: 1;
}

@keyframes reveal {
	0%, 50% {color:rgba(0,0,0,0);}
	0% {opacity:1;}
	100% {opacity:1;}
}

@keyframes revealLayer {
	0% {width:0; left:0;}
	50% {width:100%; left:0;}
	100% {width:0; left:100%;}
}

#more {
    display: none;
}

#more1 {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#more4 {
    display: none;
}

#more5 {
    display: none;
}

#more6 {
    display: none;
}

#more7 {
    display: none;
}

#more8 {
    display: none;
}

#more9 {
    display: none;
}

.parallax {
    background-image: url('parallax1.jpeg');
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}