/*---- TABLE -----*/
table {
    width: 70%;
    border-collapse: unset;
    table-layout: fixed;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*----------------------*/
#head_table_project{
    font-size: 35px;
}

#head_table_coop{
    font-size: 35px;
}
#bg1 {
    background-image: url("pic/glenn-carstens-peters-203007-unsplash1.jpg");
    background-repeat: no-repeat;
    position: relative;
    padding: 22.8%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#se_header {
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.divide_div {
  padding: 100px;
}

.content {
  padding-left: 300px;
}

.bg_color {
  background: rgb(240, 240, 240);
}

.uk-heading-bullet {
  color: darkgrey;
}

#bg2 {
  background-image: url("pic/alejandro-escamilla-1-unsplash.jpg");
  position: relative;
  padding: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white{
  color: white;
}

/*Updated upstream*/

/*HEAD*/

/*----- NAV BAR ----*/
#nav_bar{
    background-color: powderblue !important;
}

nav a{
    color: black !important;
}

nav a:hover{
    color: blue !important;
}
/*----------------------*/

/*------------- CHAT ----------*/
/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 50%;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    object-fit: cover;
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
/*----------------------*/

/*accordion when hover (branch subjects)*/
.uk-accordion-title:hover {
  color: blue;
}
